/*Name: Brandon Hansen*/
/*Assignment: Superhero 1.1*/
/*Course: CPTR 245*/
/*Date: 10/17/2022*/
/*Font downloaded added in @font-face and used in <h1>*/
/*class attribute added down at the bottom and used in the paragraph under the first photo*/
@font-face {
    font-family: "AlexBrush";
    src: url(alex-brush/AlexBrush-Regular.ttf)
}

h1 {
    color: maroon;
    font-weight: bold;
    font-family: "AlexBrush" , "sans-serif"
}
h2 {
    text-decoration: underline;
    background-image: url(images/background.gif);
}
body{
    margin: 2em 1em 2em 1em;
    font-size: small;
    font-family:'Times New Roman', Times, serif;
    color: navy;
    line-height: normal;
    background-color: azure;
    background-repeat: no-repeat;
    border-style: groove;
    border-width: thin;
    border-color: maroon;
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
}
.purple {
    color: white;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    background-color: maroon
}